<div class="container" ng-controller= "MegaController as megi">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <h1>Mega</h1>

      <div >
      <form id="myForm" class="form-sigin" method="post" ng-submit= "megi.goFetchData5()">

        Node_id:<input id="node_id" type="text" name="node_id" class="form-control" ng-model="megi.minnion.node_id"></br>
        parent_id:<input id="parent_id" type="text" name="parent_id" class="form-control" ng-model="megi.minnion.parent_id"></br>
        name:<input id="name" type="text" name="name" class="form-control" ng-model="megi.minnion.name"></br>
        size:<input id="size" type="text" name="size" class="form-control" ng-model="megi.minnion.size"></br>
        is_dir:<input id="isdir" type="text" name="is_dir" class="form-control" ng-model="megi.minnion.is_dir"></br>
        type:<input id="type" type="text" name="type" class="form-control" ng-model="megi.minnion.type"></br>
        modified:<input id="modi" type="text" name="modified" class="form-control" ng-model="megi.minnion.modified"></br>
        <button id="sub" type="submit" class="btn btn-danger">Submit</button>

      </form>
    </div>

      <button id="getData" class="btn btn-primary btn-rounded pull-left btn-bordered visible-lg" type="submit" onclick="getName('dropbox')">Get files</button>
      <p id="chuss"></p>
    </div>

  </div>
</div>
<div class="row" ng-controller="MegaController as bash">
  <button id="sufi" type="submit" class="btn btn-success" ng-click="bash.goGetData5()">collect</button>
  <div class="col-md-3" ng-repeat="each in bash.megaData">
    <p>{{ each._id }}</p>
  </div>
</div>
