<div class="box box-info box-solid" style="width: 20%">
  <div class="box-header with-border">
    <h3 class="box-title">Cloud Drive</h3>
  </div><!-- /.box-header -->
  <div class="box-body" style="height:600px">
    <!-- Conversations are loaded here -->
    <ul class="sidebar-menu" style="width:100%">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
             <a  class="treeview" ui-sref="settings" ><i class="fa fa-pie-chart" style="font-size: 1.5em; margin-right:0.2cm; vertical-align: middle;"></i>Overview</a> 
            </li>
            <li class="treeview">
             <a  class="treeview" ui-sref="settings" ><i class="fa  fa-user" style="font-size: 1.5em; margin-right:0.2cm; vertical-align: middle;"></i>Profile</a> 
            </li>
            <li class="treeview">
             <a  class="treeview" ui-sref="cloud_management" ><i class="fa fa-archive" style="font-size: 1.5em; margin-right:0.2cm; vertical-align: middle;"></i>Cloud Management</a> 
            </li>
            </ul>

    <div class="sidebar-menu">
    
    </div>
  </div><!-- /.box-body -->
</div><!--/.direct-chat -->

<!-- Content Header (Page header}-->



<!--BreadCrumbs-->

<section class="col-xs-12 col-sm-6 col-md-10 pull-right">
        <div class="navbarmod navbar-static-top" role="navigation">
        <div class="col-xs-6 col-sm-4">
          <ol class="breadcrumb content-header">
            <li><a ui-sref="settings"><i class="fa fa-cloud" style="font-size: 1.5em;  margin-right:0.2cm;vertical-align: middle;"></i>Settings</a></li>
            <li class="active">Cloud Management</li>
            <li class="active">Remove Cloud</li>
          </ol>
          </div>
          <div class="col-xs-6 col-sm-5 pull-right" style="padding: 7px 5px;">
            <span class="file-input file-input-new">
        </div>
        </div>
        </section>


  <div class="box-body" style="padding-left:282px;  height:100%;">

<h5>Select a cloud storage to remove from your account :</h5>
<br>
     <a class="btn btn-app" style="height:100px;width:100px " ><img class="attachment-img" src="app/images/icons/dropbox.png" alt="attachment image" style="height:80px;width:80px;padding-bottom:10px;"></a>
<a class="btn btn-app" style="height:100px;width:100px " ><img class="attachment-img" src="app/images/icons/one.png" alt="attachment image" style="height:80px;width:80px"></a>
<a class="btn btn-app" style="height:100px;width:100px " ><img class="attachment-img" src="app/images/icons/gdrive.png" alt="attachment image" style="height:80px;width:80px;padding-bottom:10px;"></a>
<a class="btn btn-app" style="height:100px;width:100px " ><img class="attachment-img" src="app/images/icons/mediafire.png" alt="attachment image" style="height:80px;width:80px;padding-bottom:10px;"></a>
<a class="btn btn-app" style="height:100px;width:100px " ><img class="attachment-img" src="app/images/icons/mega.png" alt="attachment image" style="height:80px;width:80px;padding-bottom:10px;"></a>

  </div>
  <div class="box-body"  style="padding-left:290px;  height:100%; margin-top:130px;  display: none;">
  <h3 class="fa fa-hand-stop-o" style=" text-shadow: 1px 1px 1px #ccc; font-size: 1.7em;">Verify yourself :</h3>
    <form role="form" style="width: 50%; margin: 0 auto;">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" style="width:300px" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" style="width:300px" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                  </div>

                  <div class="box-footer">
                    <button type="submit" style="margin-left:210px" class="btn btn-primary">Authenticate</button>
                  </div>
                </form>
  </div>

