<div class="box box-info box-solid" style="width: 20%">
  <div class="box-header with-border">
    <h3 class="box-title">Cloud Drive</h3>
  </div><!-- /.box-header -->
  <div class="box-body" style="height:600px">
    <!-- Conversations are loaded here -->
    <ul class="sidebar-menu" style="width:100%">
            <li class="treeview">
             <a  class="treeview" ui-sref="settings" ><i class="fa fa-pie-chart" style="font-size: 1.5em; margin-right:0.2cm; vertical-align: middle;"></i>Overview</a> 
            </li>
            <li class="treeview">
             <a  class="treeview" ui-sref="settings" ><i class="fa  fa-user" style="font-size: 1.5em; margin-right:0.2cm; vertical-align: middle;"></i>Profile</a> 
            </li>
            <li class="treeview">
             <a  class="treeview" ui-sref="cloud_management" ><i class="fa fa-archive" style="font-size: 1.5em; margin-right:0.2cm; vertical-align: middle;"></i>Cloud Management</a> 
            </li>
            </ul>

    <div class="sidebar-menu">
    
    </div>
  </div><!-- /.box-body -->
</div><!--/.direct-chat -->

<!-- Content Header (Page header}-->



<!--BreadCrumbs-->



<section class="col-xs-12 col-sm-6 col-md-10 pull-right" style="position: fixed; z-index: 1500; margin-left: 15.6%;">
        <div class="navbarmod navbar-static-top" role="navigation">
        <div class="col-xs-6 col-sm-4">
          <ol class="breadcrumb content-header">
            <li><a ui-sref="settings"><i class="fa fa-cloud" style="font-size: 1.5em;  margin-right:0.2cm;vertical-align: middle;"></i>Settings</a></li>
            <li class="active">Profile Overview</li>
          </ol>
          </div>
          <div class="col-xs-6 col-sm-5 pull-right" style="padding: 7px 5px;">
            <span class="file-input file-input-new">
        </div>
        </div>
</section>

        <br>
        <br>

        <div class="box-body" style="padding-left:250px;">
        <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header" style="padding-bottom:60px;" >
                  <div>
                    <img class="img-lg" src="app/images/flat-avatar.png" alt="User Avatar" >
                  </div><!-- /.widget-user-image -->
                  <div>
                  <h3 class="widget-user-username" style="padding-left:70px;" >User Name</h3>
                  <h4 class="widget-user-desc" style="padding-left:70px;padding-top:10px;padding-bottom:40px">username@lalaLand.com</h4>
                  <button type="submit" style="margin-top:15px" class="btn btn-danger">Delete Account</button>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="c100 p20" style="padding-bottom:100px; margin-top:56px; margin-left: 45%;">
                    <span>20%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                  </div>          
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="box-footer" style="padding-top:60px;">
                    <ul class="nav nav-stacked">
                    <li style="padding-bottom:10px;">Total Space <span class="pull-right badge bg-green">50GB</span></li>
                    <li style="padding-bottom:10px;">Free Space <span class="pull-right badge bg-aqua">40GB</span></li>
                    <li>Used Space<span class="pull-right badge bg-red">10GB</span></li>
                    
                  </ul>
                </div>
              </div>

        </div>
